<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/widget.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}large_data_admin/widget.css">
<script type="text/javascript">

$(document).ready(function(){
    if (window.location.pathname.match(/\d+/g)) var pk = window.location.pathname.match(/\d+/g)[0] || 0;
    else var pk = 0;

    select_input("{{prefix}}_add", "/large_data_admin/select/add/{{model}}/", 2, function (i){
        $("#{{prefix}}_select_id").val(i[0]);
        $("#{{prefix}}_select_value").val(i[1]);
    });

    $("#{{prefix}}_remove").click(function () {
        $("#{{prefix}}_select_id").val("");
        $("#{{prefix}}_select_value").val("");
    })
})

</script>

<div class="m2mlw">
    <div class="m2mlw-block">
        <input id="{{prefix}}_add" type="text" placeholder="add">
        <ul id="{{prefix}}_add_list"></ul>
    </div>
    <div class="m2mlw-block">
        <input id="{{prefix}}_select_value" value="{{text_value}}" type="text" class="m2mlw" disabled>
        <input id="{{prefix}}_select_id" type="hidden" name="{{field}}" class="m2mlw">
    </div>
    <div class="m2mlw-block">
        <input id="{{prefix}}_remove" value="remove" type="button" class="m2mlw">
    </div>
</div>