<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
$(document).ready(function(){
    var pk = window.location.pathname.match(/\d+/g)[0] || 0;

    $(".link").click(function () {
        item_pk = $(this).attr("data")
        $.get("/large_data_admin/rm_process/{{app}}/{{model}}/"+pk+"/{{field}}/"+item_pk+"/");
        $(this).remove();

    })

})
</script>
<button onclick="window.close()">close</button>
<ul>
    {% for d in data %}
        <li class="link" data="{{d.0}}"><a href="#">{{d.1}}</a></li>
    {% endfor %}
</ul>