.m2mlw {
}
.m2mlw-block {
    display: inline-block;
    vertical-align: top;
}
.m2mlw-selected {
    width: 50px;
}
.m2mlw-status {
    width: 160px;
    height: 20px;
}
.color-red {
    background-color: red;
}
.color-green {
    background-color: green;
}
.color-orange {
    background-color: orange;
}
input {
    width: 160px;
}

.list-inline li {
    display: inline;
    margin-right: 15px;

}
