{% load i18n %}
<script type="text/javascript" src="{{spec.STATIC_URL}}large_data_admin/jquery-1.9.1.min.js"></script>
<script type="text/javascript">
function select_input(id, url, model, field, min_length, callback){
    $("#"+id).keyup(function() {
        if ($("#"+id).val().length > min_length - 1){
            uri = url+"?query="+$("#"+id).val()+"&model="+model+"&field="+field+"&unique=true";
            console.log(uri)
            $.get(uri, function (data){
                data = JSON.parse(data);
                $("#"+id+"_list").empty();
                data.forEach(function (i) {
                    $("#"+id+"_list").append("<li><a href=\"?"+field+"="+i[1].replace("&", "%26").replace("%27", "'").replace("%22", '"')+"\" >"+i[1]+"</a></li>");
                    $("#"+id+i[0]).click(function(){
                        $("#"+id+"_list").empty();
                        $("#"+id).val("");
                        callback(i);
                    })
                })
            })
        }
    })
}

$(document).ready(function(){

    select_input("{{spec.random}}_add", "/large_data_admin/get/", "{{spec.model}}", "{{spec.field}}", 2, function (i){
    });
})
</script>

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<input type="text" id="{{spec.random}}_add">
<a onclick="$('#{{spec.random}}_add_list').html('');$('#{{spec.random}}_add').val('')">x</a>
<ul id="{{spec.random}}_add_list">
</ul>