{% load i18n %}
<script>
    if(!window.jQuery) {
        window.jQuery = django.jQuery;
        window.$ = window.jQuery;
    }
</script>
<script type="text/javascript">
function perform_request(id, url, model, field, filter_query, exclude_query, callback){
    uri = url+"?query="+$("#"+id).val()+"&model="+model+"&field="+field+"&filter_query="+filter_query+"&exclude_query="+exclude_query+"&unique=true";
    console.log(uri)
    $.get(uri, function (data){
        data = JSON.parse(data);
        data.forEach(function (i) {
            $("#"+id+"_list").append("<li><a href=\"?"+field+"="+i[1].replace("&", "%26").replace("%27", "'").replace("%22", '"')+"\" >"+i[1]+"</a></li>");
            $("#"+id+i[0]).click(function(){
                $("#"+id+"_list").empty();
                $("#"+id).val("");
                callback(i);
            })
        })
    })
}

function select_input(id, url, model, field, filter_query, exclude_query, min_length, callback){
    $("#"+id).keyup(function() {
        if ($("#"+id).val().length > min_length - 1){
            $("#"+id+"_list").empty();
            var fields = field.split(',');
            fields.forEach(function(field) {
                perform_request(id, url, model, $.trim(field), filter_query.replace('INPUT_VALUE', $("#"+id).val()).replace('FIELD_NAME', $.trim(field)), exclude_query.replace('INPUT_VALUE', $("#"+id).val()).replace('FIELD_NAME', $.trim(field)), callback);
            });
        }
    })
}

$(document).ready(function(){

    select_input("{{spec.random}}_add", "/large_data_admin/get/", "{{spec.model}}", "{{spec.field}}", "{{spec.filter_query}}", "{{spec.exclude_query}}", 2, function (i){
    });
})
</script>

<h3>{% blocktrans with filter_title=title %} By {{ filter_title }} {% endblocktrans %}</h3>
<input type="text" id="{{spec.random}}_add">
<a onclick="$('#{{spec.random}}_add_list').html('');$('#{{spec.random}}_add').val('')">x</a>
<ul id="{{spec.random}}_add_list">
</ul>
