<script>
    if(!window.jQuery) {
        window.jQuery = django.jQuery;
        window.$ = window.jQuery;
    }
</script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}large_data_admin/m2m/widget.css">
<script type="text/javascript">

function select_input(id, url, model, field, min_length, callback){
    $("#"+id).keyup(function() {
        if ($("#"+id).val().length > min_length - 1){
            $.get(url+"?query="+$("#"+id).val()+"&model="+model+"&field="+field, function (d){
                d = JSON.parse(d);
                $("#"+id+"_list").empty();
                d.forEach(function (i) {
                    $("#"+id+"_list").append("<li><a id=\""+id+i[0]+"\">"+i[1]+" #"+i[0]+"</a></li>");
                    $("#"+id+i[0]).click(function(){
                        $("#"+id+"_list").empty();
                        $("#"+id).val("");
                        callback(i);
                    })
                })
            })
        }
    })
}


$(document).ready(function(){

    select_input("{{name}}_add", "/large_data_admin/get/", "{{model_str}}", "{{field}}", 2, function (i){
        $("#{{name}}").val(i[0]);
        $("#{{name}}_value").val(i[1]+" #"+i[0]);
    });

    $("#{{name}}_remove").click(function () {
        $("#{{name}}").val("");
        $("#{{name}}_value").val("");
    })
})

</script>

<div class="m2mlw">
    <div class="m2mlw-block">
        <input id="{{name}}_add" type="text" placeholder="add">
        <ul id="{{name}}_add_list"></ul>
    </div>
    <div class="m2mlw-block">
        <input id="{{name}}_value" value="{{text_value}}" type="text" class="m2mlw" disabled>
        <input id="{{name}}" type="hidden" name="{{name}}" class="m2mlw" value="{{value}}">
    </div>
    <div class="m2mlw-block">
        <input id="{{name}}_remove" value="remove" type="button" class="m2mlw">
    </div>
</div>
