<script>
    if(!window.jQuery) {
        window.jQuery = django.jQuery;
        window.$ = window.jQuery;
    }
</script>
<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/m2m/widget.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}large_data_admin/m2m/widget.css">
<script type="text/javascript">
$(document).ready(function(){
    $(".rm").click(function () {
        $(this).remove();
        selected.pop($(this).attr("objId"));
    });
});
</script>

{% for obj in objs %}
<a href="#" class="rm" objId="{{obj.pk}}">{{obj}}</a>
{% endfor %}
