<script>
    if(!window.jQuery) {
        window.jQuery = django.jQuery;
        window.$ = window.jQuery;
    }
</script>
<script type="text/javascript" src="{{STATIC_URL}}large_data_admin/m2m/widget.js"></script>
<link rel="stylesheet" type="text/css" href="{{STATIC_URL}}large_data_admin/m2m/widget.css">
<script type="text/javascript">

function select_input2(id, selected_id, url, model, field, min_length, callback){
    $("#"+id).keyup(function() {
        if ($("#"+id).val().length > min_length - 1){
            $.get(url+"?query="+$("#"+id).val()+"&model="+model+"&field="+field+"&exclude="+$("#"+selected_id).val(), function (d){
                d = JSON.parse(d);
                $("#"+id+"_list").empty();
                d.forEach(function (i) {
                    $("#"+id+"_list").append("<li><a id=\""+id+i[0]+"\">"+i[1]+" #"+i[0]+"</a></li>");
                    $("#"+id+i[0]).click(function(){
                        $("#"+id+"_list").empty();
                        $("#"+id).val("");
                        callback(i);
                    })
                })
            })
        }
    })
}


function input3(target, id, selected_id, url, model, field, min_length, callback){
    return function(){
        if ($("#"+id).val().length > min_length - 1){
            $.get(url+"?query="+$("#"+id).val()+"&model="+model+"&field="+field+"&fromlist="+$("#"+selected_id).val(), function (d){
                d = JSON.parse(d);
                console.log(d);
                $(target).empty();
                d.forEach(function (i) {
                    $(target).append("<li><a id=\""+id+i[0]+"\">"+i[1]+" #"+i[0]+"</a></li>");
                    $("#"+id+i[0]).click(function(){
                        $("#"+id+"_list").empty();
                        $("#"+id).val("");
                        callback(i);
                    })
                })
            })
        }
    }
}



function input4(target, id, selected_id, url, model, field, min_length, callback){
            $.get(url+"?query="+$("#"+id).val()+"&model="+model+"&field="+field+"&fromlist="+$("#"+selected_id).val(), function (d){
                d = JSON.parse(d);
                console.log(11, d);
                $(target).empty();
                d.forEach(function (i) {
                    $(target).append("<li><a id=\""+id+i[0]+"\">"+i[1]+" #"+i[0]+"</a></li>");
                    $("#"+id+i[0]).click(function(){
                        $("#"+id+"_list").empty();
                        $('#'+id+i[0]).remove()
                        callback(i);
                    })
                })
            })
}

function select_input3(id, selected_id, url, model, field, min_length, callback){
    target = "#"+id+"_list";
    $("#"+id).keyup(input3(target, id, selected_id, url, model, field, min_length, callback))
}

$(document).ready(function(){
    select_input2("{{name}}_add", "{{name}}", "/large_data_admin/get/", "{{model_str}}", "{{field}}", 2, function (i){
        selected = str2intList($("#{{name}}").val())
        selected.push(i[0])
        $("#{{name}}").val(selected.toString());
    });

    select_input3("{{name}}_rm", "{{name}}", "/large_data_admin/get/", "{{model_str}}", "{{field}}", 2, function (i){
        selected = str2intList($("#{{name}}").val())
        index = selected.indexOf(i[0]);
        selected.remove(index);
        $("#{{name}}").val(selected.toString());
    });

    setInterval(function () {
        $("#{{name}}_selected").val(str2list($("#{{name}}").val()).length);
    }, 100)

    $("#{{name}}_remove").click(function () {
        popup = window.open("/large_data_admin/m2m/remove/{{model_str}}/?q="+$("#{{name}}").val(),'{{name}}_lda_m2m','width=700,height=500,toolbar=0,menubar=0,location=0,status=1,scrollbars=1,resizable=1,left=0,top=0');
        popup.selected = str2list($("#{{name}}").val());
        popupLoader = setInterval(function(){
            $("#{{name}}").val(list2str(popup.selected));
            if (! popup.window) clearInterval(popupLoader)
        }, 300);
    });

    $("#{{name}}_list").click(function () {
        input4('#{{name}}_list_remove', "{{name}}_rm", "{{name}}", "/large_data_admin/get/", "{{model_str}}", "{{field}}", 2, function (i){
        console.log(i);
            selected = str2intList($("#{{name}}").val())
        index = selected.indexOf(i[0]);
        selected.remove(index);
        $("#{{name}}").val(selected.toString());
    });
    });

});
</script>


<input type="hidden" name="{{name}}" id="{{name}}" value="{{value}}">
<div class="m2mlw">
    <div class="m2mlw-block">
        <input id="{{name}}_add" type="text" placeholder="add">
        <ul id="{{name}}_add_list"></ul>
    </div>
    <div class="m2mlw-block">
        <input id="{{name}}_rm" type="text" placeholder="remove">
        <ul id="{{name}}_rm_list"></ul>
    </div>
    <div class="m2mlw-block">
        <input id="{{name}}_selected" type="text" class="m2mlw-selected" disabled>
        <a id="{{name}}_list" class="button">list &amp; remove</a>
    </div>
</div>
<div id="{{name}}_list_remove" class="list-inline" style="overflow-y: auto; max-height: 100px">
</div>
